@import "http://fonts.fontstorage.com/import/roboto.css";
@import "http://fonts.fontstorage.com/import/playfair.css";
@import "http://fonts.fontstorage.com/import/hammersmithone.css";
/*@font-face {
    font-family: 'Hammersmith One';
    src: url('../font/hammersmithone.woff2') format('woff2'), url('../font/hammersmithone.woff') format('woff'), url('../font/hammersmithone.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../font/playfairdisplay.woff2') format('woff2'), url('../font/playfairdisplay.woff') format('woff'), url('../font/playfairdisplay.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../font/playfairdisplaybold.woff2') format('woff2'), url('../font/playfairdisplaybold.woff') format('woff'), url('../font/playfairdisplaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../font/playfairdisplayblack.woff2') format('woff2'), url('../font/playfairdisplayblack.woff') format('woff'), url('../font/playfairdisplayblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/Robotothin.woff2') format('woff2'), url('../font/Robotothin.woff') format('woff'), url('../font/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/Robotolight.woff2') format('woff2'), url('../font/Robotolight.woff') format('woff'), url('../font/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto.woff2') format('woff2'), url('../font/Roboto.woff') format('woff'), url('../font/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/Robotoblack.woff2') format('woff2'), url('../font/Robotoblack.woff') format('woff'), url('../font/Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}*/

html,
body {
  margin: 0;
}
.mainHeader{
  background: url('../img/main_background.jpg') center no-repeat;
  width: 1600px;
  margin: 0 auto;
  padding: 15px 330px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; 
}

.mainHeader::after{
  content: "";
  display: block;
  width: 1600px;
  clear: both;
}

.logo{
  width: 44px;
  height: 50px;
  float: left;
}

.logoTitle{
  font-family: 'Roboto';
  color:  #00e0d0;
  font-size: 30px;
  font-weight: 100;
  display: inline-block;
  float: left;
  margin: 1% 1%;
}

.mainMenu{
  float: right;
  width: 562px;
}

.mainMenuList{
  list-style-type: none;
  float: left;
}

.mainMenuList a{
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
  font-family: 'Roboto';
  color:  #ffffff;
  font-size: 13px;/* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  text-align: right;
}

.mainMenuList a:hover{
  color:  #00e0d0;
  transition: color 0.8s ease-out 0s;
}

.headerMain{
  width: 771px;
  margin: 228px auto 70px;
}

.headerTitle{
  font-family: 'Playfair Display';
  color:  #ffffff;
  font-size: 2em;/* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  text-align: center;
}

.separator{
  background-color:  #00e0d0;
  width: 50px;
  height: 1px;
  margin: 21px auto 30px;
}

.headerDescription{
  font-family: 'Roboto';
  color:  #ffffff;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.714;
  text-align: center;
}

.learnButton{
  font-family: 'Hammersmith One';
  display: block;
  width: 118px;
  border: 1px solid #00e0d0;
  border-radius: 5px;
  color:  #00e0d0;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  margin: 50px auto 125px;
}

.learnButton:hover {
box-shadow: 0 2px 8px rgba(35, 18, 74,0.5), 
  inset 0 1px rgba(255, 255, 255, 0.3),
  inset 0 10px rgba(255, 255,255, 0.2),
  inset 0 10px 20px rgba(255, 255, 255, 0.25),
  inset 0 -15px 30px rgba(35, 18, 74, 0.3);
-webkit-box-shadow: 0 2px 8px rgba(35, 18, 74,0.5),
  inset 0 1px rgba(255, 255, 255, 0.3),
  inset 0 10px rgba(255, 255,255, 0.2),
  inset 0 10px 20px rgba(255, 255, 255, 0.25),
  inset 0 -15px 30px rgba(35, 18, 74, 0.3);
-moz-box-shadow: 0 2px 8px rgba(35, 18, 74,0.5),
  inset 0 1px rgba(255, 255, 255, 0.3),
  inset 0 10px rgba(255, 255,255, 0.2),
  inset 0 10px 20px rgba(255, 255, 255, 0.25),
  inset 0 -15px 30px rgba(35, 18, 74, 0.3);
transition: box-shadow 0.8s ease-out 0s;
}
.slider {
  width: 772px;
  height: 80px;
  position: relative;
  text-align: center;
  
}
.slider > input {
  display: none;
  
}
.slider > input + label {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #00e0d0;
  cursor: pointer;
  z-index: 100;
  position: relative;
  top: 290px;
  left: 357px;
  margin-right: 4px;
  transition: background 0.8s ease-out 0s;
}

.slider > input + label:hover {
  background: rgba(0, 224, 208, 0.8);
}

.slider > input:checked + label {
  background: rgba(0, 224, 208, 0.8);
}

.slider > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}

.slider > div {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.slider > input:checked + label + div {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.content{
  width: 1600px;
  padding: 70px 395px;
  margin: 0 auto;
}

.sectionAbout{
  background-color: #FFF;
}

.color_logo{
  width: 235px;
  height: 229px;
  margin: 0 100px 20px 0;
  float: left;
}

.contentAbout{
  width: 850px;
}

.contentTitle{
  font-family: 'Playfair Display';
  color:  #403d4b;
  font-size: 1.375em;
  font-weight: 700;
  text-align: left;
}
.aboutDescription{
  font-family: Roboto;
  color:  #403d4b;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.571;
  text-align: left;
}

.contentAbout .learnButton{
  margin: 30px 335px;
}